body {
  padding: 50px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

a {
  color: #00B7FF;
}

body > .data-card {
  margin-bottom: 30px;
  margin-top: 30px;
}
